{#TODO: pop-up page#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 用户登录 </title>
</head>
<body>
    {% extends 'user/user_base.html' %}

    {% block main_body %}
        <div class="container-fluid">
            <div class="side-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3> 登录 </h3>
                                {% if error_message %}
                                    <p><strong>{{ error_message }}</strong></p>
                                {% endif %}
                                <form class="form-horizontal" role="form"  method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="id_username">
                                            用户名:
                                        </label>
                                        <div class="col-sm-10">
                                            <input id="id_username" maxlength="30" name="username" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="id_password">
                                            密码:
                                        </label>
                                        <div class="col-sm-10">
                                            <input id="id_password" maxlength="30" name="password" type="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-success"> 确定 </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <a href="{% url 'user:password_reset_by_email' %}">忘记密码？</a>
                            </div>
                            <div class="panel-footer">
                                没有账号？ 点击<u><a href="{% url 'user:register' %}"> 这里 </a></u> 注册.
                            </div>

                            <div class="panel-footer">
                                或者 <u><a href="{% url 'user:register' %}"> 以游客身份继续 </a></u>.
                            </div>

                            {% block log_out_msg %}
                            {% endblock %}

                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}



</body>
</html>