<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 用户密码重置 </title>
</head>
<body>
    {% extends 'user/user_base.html' %}

    {% block main_body %}
        <div class="side-body">
            <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>重置密码</h3>
                            {% if error_message %}
                                <p><strong>{{ error_message }}</strong></p>
                            {% endif %}

                            <div class="container">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">Submit</button>
                                </form>
                                <br>
                            </div>

{#                            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">#}
{#                                {% csrf_token %}#}
{#                                <div class="form-group">#}
{#                                    <label for="old"> 请输入原密码： </label>#}
{#                                    {{ form.old_password }}#}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <label for="new"> 请输入新密码： </label>#}
{#                                    {{ form.new_password }}#}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <label for="confirm"> 请再次输入新密码进行确认： </label>#}
{#                                    {{ form.confirm_password }}#}
{#                                </div>#}
{##}
{#                                <input type="submit" class="btn btn-default" value="确认">#}
{#                            </form>#}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        </div>
    {% endblock %}


</body>
</html>