<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>群分享文件</title>
</head>
<body>
    {% extends 'file/file_base.html' %}
   {% block main_body %}  {#TODO: modify view#}
       <div class="side-body">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                 <li role="presentation"><a href="{% url 'user:share_files_view' %}">个人分享文件</a></li>
                 <li role="presentation" class="active"><a href="{% url 'user:group_files_view' %}">群分享文件</a ></li>
            </ul>

            <h5>hello, world.</h5>

       </div>
    {% endblock %}

</body>
</html>