<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件分享状态管理</title>
</head>
<body>
<script type="text/javascript">
    var fileID = '';

    function select_file(element) {
        fileID = element.id;
        console.log('fileID set to', fileID);
    }
    function remove_share_record() {
        var post_data = {
            'action': 'remove_share_record',
            'file': fileID,

            'group_to_remove': $('input[name=to_delete_group]:checked').map(function ()
            {
                return $(this).val();
            }).get(),

            'user_to_remove': $('input[name=to_delete_user]:checked').map(function ()
            {
                return $(this).val();
            }).get(),

        };
        console.log(post_data);

        $.ajax({
            url: '/user/remove_share_record/',
            type: 'POST',
            data: post_data,

            success: function (res) {
                var msg = '';
                if (res['deleted_user'].length != 0) {
                    msg += '已取消下列用户的分享权限：' + res['deleted_user'] + '\n';
                    {#location.reload();#}
                }
                if (res['deleted_group'].length != 0) {
                    msg += '已取消下列群组的分享权限：' + res['deleted_group'] + '\n';
                }
                if (res['error'].length != 0) {
                    msg += 'wrong input ' + res['error'];
                }
                alert(msg);
                location.reload();
            },
            error: function (err) {
                alert('网络连接失败，请稍后重试', err);
            }

        })

    }
</script>

    {% extends 'file/file_base.html' %}
    {% block main_body %}
        <div class="side-body">
            <div>
                <strong>{{ file.filename }}</strong>
            </div>

            <br>

            <button type="button" class="btn btn-default" id={{ file.gu_id }}
                    onclick="select_file(this);remove_share_record();">
                取消分享
            </button>

            <br>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"> 用户 </th>
                </tr>
                </thead>

                {% for record in user_shares %}   {# FileShare objects #}
                    <tr id={{  record.file_share_id }} oncontextmenu="select_file(this)">
{#                        <td>{{ record.sharer.username }}</td>#}
                        <td>
                            <input type="checkbox" name="to_delete_user" value="{{ record.sharer.username }}">
                            {{ record.sharer.username }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <br>
            <br>
            <br>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"> 分享组 </th>
                </tr>
                </thead>

                {% for record in group_shares %}   {# GroupShare objects #}
                    <tr id={{  record.shared_file.gu_id }} oncontextmenu="select_file(this)">
{#                        <td>{{ record.share_group.group_name }}</td>#}
                        <td>
                            <input type="checkbox" name="to_delete_group" value="{{ record.share_group.group_name }}">
                            {{ record.share_group.group_name }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock %}

</body>
</html>