<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title> 用户系统 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% extends 'file/file_base.html' %}

{#    <script type="text/javascript">#}
        {#function FileUpload() {#}
        {#    var form_data = new FormData();#}
        {#    var file = $('#file_upload')[0].files[0];#}
        {#    form_data.append('file',file);#}
        {#    $.ajax({#}
        {#        url:'/user/upload/',#}
        {#        type:'POST',#}
        {#        data: form_data,#}
        {#        processData: false, // tell jquery not to process the data#}
        {#        contentType: false, // tell jquery not to set contentType#}
        {#        success: function (res) {#}
        {#            alert(res['message']);#}
        {#            console.log('ojbk')#}
        {#        },#}
        {#        error: function (err) {#}
        {#            alert(err['message']);#}
        {#        }#}
        {#    });#}
        {#/}#}
{##}
{#        function show() {#}
{#            var show_msg = {{ show }};#}
{#            if (show_msg == 1) {#}
{#                alert('同名文件已存在');#}
{#            }#}
{#            console.log(show_msg);#}
{#        }#}
{#    </script>#}

    {% block main_body %}
        {# 上传新文件 #}
        <div class="container-fluid">
                <div class="side-body" >
                    <ul class="nav nav-pills" style="margin-bottom: 10px;">
                         <li role="presentation"><a href="{% url 'user:file_management' %}">文件列表</a></li>
                         <li role="presentation" class="active"><a href="{% url 'user:file_upload' %}">上传文件</a ></li>
                    </ul>

                    <div class="row " style="background-color: rgb(232, 236, 230);margin: 0px;padding: 0px;">
                            <div class="row-fluid" >

                                {% if show == 1 %}
                                    <script>
                                        alert('同名文件已存在，请重新上传')
                                    </script>
                                {% endif %}
                                {% if show == 0 %}
                                    <script>
                                        alert('上传成功')
                                    </script>
                                {% endif %}
                                {% if show == 2 %}
                                    <script>
                                        alert('文件格式不正确')
                                    </script>
                                {% endif %}

                                <div class="  col-sm-2 col-md-3  col-lg-3 span3" >
                                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% include 'user/../form_template.html' %}
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-success"> 确定 </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                      {#  script version  #}
{#                                    <div id="upload_file_div" class="panel-body">#}
{#                                        <form id="uplaod" enctype="multipart/form-data" method="post">#}
{#                                            <input type="file" name="file_upload" id="file_upload">#}
{#                                            <button type="submit" class="button" onclick="FileUpload()">确认上传</button>#}
{#                                        </form>#}
{#                                    </div>#}




{#                                    <label for="file"class="btn btn-info">导入文件</label>#}
{#                                    <input id="file"onchange="loadFile(this.files[0])" type="file"style="display:none">#}
{#                                    <form method="post" action=" " enctype="multipart/form-data">#}
{#                                        {% csrf_token %}#}
{#                                        <input type="file" name="upload_file" />#}
{#                                        <br>#}
{#                                        <button type="submit" value="upload" class="btn btn-info"> 确认上传 </button>#}
{#                                    </form>#}
{#                                    {{ message }}#}
{##}
                            </div>
                    <div class="container editor">

                    </div>
                </div>
        </div>
    {% endblock %}

</body>

</html>
